footer.footer
    .footer__logo  
        img(src='/img/logo-black.png', alt='Romify logo')
    ul.footer__nav 
        li: a.glowing-link(href='https://www.linkedin.com/in/neel-munjpara-5104721b6/') About us 
        li: a.glowing-link(href='https://www.linkedin.com/in/neel-munjpara-5104721b6/') Download apps 
        li: a.glowing-link(href='https://www.linkedin.com/in/neel-munjpara-5104721b6/') Become aguide
        li: a.glowing-link(href='https://www.linkedin.com/in/neel-munjpara-5104721b6/') Careers 
        //- li: a(href='https://www.linkedin.com/in/neel-munjpara-5104721b6/') Contact
          
        li.footer__copyright
        | &copy; by
        a.glowing-link(href='https://www.linkedin.com/in/neel-munjpara-5104721b6/') Neel Munjpara
    //- a.footer__copyright &copy; by Neel Munjpara