<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:300,300i,700"
    />
    <link rel="shortcut icon" type="image/png" href="/img/favicon.png" />
    <title>Romify | #{title}</title>
  </head>

  <body data-alert="${alert ? alert : ''}">
    <!-- HEADER -->
    <!-- Assuming _header is a partial included here -->

    <!-- CONTENT -->
    <h1>This is a placeholder heading</h1>

    <!-- FOOTER -->
    <!-- Assuming _footer is a partial included here -->

    <!-- Include the external scripts -->
    <script src="https://js.stripe.com/v3/"></script>
    <!-- Other script includes are commented out -->
    <!-- <script src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js'></script> -->
    <!-- <script src='/js/mapbox.js'></script> -->
    <!-- <script src='/js/signup.js'></script> -->
    <script src="/js/bundle.js"></script>
  </body>
</html>
